* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding-top: 2rem;
}

.slider_wrapper {
    margin: 0 auto;
    width: 40%;
    background-color: #25282A;
    padding: 2rem 2rem;
}

.slider_wrapper>input {
    display: none;
}

.slider_controls {
    display: flex;
    gap: 1rem;
}

.slider_controls label {
    width: 14px;
    height: 14px;
    background: #71ABFE;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #71ABFE;
    transition: 0.2s ease-in
}

.slider_controls label:hover {
    background: #fff;
    border: 2px solid #fff;
    transition: 0.2s ease-in;
}

.slider_images {
    display: flex;
    height: 350px;
    overflow: hidden;
}

.slider_images img {
    width: 100%;
    display: none;
}

.slider_text p {
    color: #fff;
    display: none;
}

.slider_bottom {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2em;
}

#slide1:checked~.slider_bottom>.slider_controls>label:nth-of-type(1),
#slide2:checked~.slider_bottom>.slider_controls>label:nth-of-type(2),
#slide3:checked~.slider_bottom>.slider_controls>label:nth-of-type(3),
#slide4:checked~.slider_bottom>.slider_controls>label:nth-of-type(4) {
    background: transparent;
}

#slide1:checked~.slider_images>img:nth-of-type(1),
#slide2:checked~.slider_images>img:nth-of-type(2),
#slide3:checked~.slider_images>img:nth-of-type(3),
#slide4:checked~.slider_images>img:nth-of-type(4) {
    display: block;
    animation: slidein 0.5s ease-in;
}

#slide1:checked~.slider_bottom .slider_text>p:nth-of-type(1),
#slide2:checked~.slider_bottom .slider_text>p:nth-of-type(2),
#slide3:checked~.slider_bottom .slider_text>p:nth-of-type(3),
#slide4:checked~.slider_bottom .slider_text>p:nth-of-type(4) {
    display: block;
    animation: textin 0.5s ease-in;
}

@keyframes slidein {
    0% {
        transform: translateY(-100%) scale(0.2);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes textin {
    0% {
        transform: translateY(-100%) scale(0.2);
        opacity: 0;
        filter: grayscale(1);
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: grayscale(0);
    }
}

@media (max-width: 1100px) {
    .slider_wrapper {
        width: 60%;
    }
}

@media (max-width: 660px) {
    .slider_wrapper {
        width: 90%;
    }
}

@media (max-width: 420px) {
    .slider_images {
        height: 180px;
    }
    .slider_bottom {
        flex-direction: column-reverse;
    }
    .slider_controls {
        justify-content: center;
    }
}